.jright {
  width: 980px;
  background: #fff;
  float: left;
  display: inline;
}
.jright .content {
  width: 920px;
  padding: 0 30px;
  float: left;
}
.jright .content .jobtitle {
  width: 100%;
  height: 41px;
  float: left;
  margin-top: 10px;
}
.jright .content .jobtitle .tithead {
  height: 40px;
  border-bottom: 1px solid #EFEFEF;
  width: 100%;
}
.jright .content .jobtitle .tithead ul {
  float: left;
}
.jright .content .jobtitle .tithead ul li {
  float: left;
  font-size: 17px;
  height: 38px;
  line-height: 38px;
  margin-right: 15px;
  padding-right: 5px;
  font-weight: bold;
}
.jright .content .jobtitle .tithead ul li a {
  color: #A9A9A9;
  display: block;
}
.jright .content .jobtitle .tithead ul li.active {
  border-bottom: 3px solid #F0534E;
}
.jright .content .jobtitle .tithead ul li.active a {
  color: #444;
}
.jright .content .rightMain {
  display: none;
  width: 100%;
  float: left;
  padding: 0;
}
.jright .content .rightMain.show {
  display: block;
}
.jright .content .rightMain .information {
  width: 100%;
  float: left;
  margin-top: 30px;
  height: 24px;
  color: #717171;
}
.jright .content .rightMain .information span {
  float: left;
  font-size: 15px;
  height: 24px;
  line-height: 24px;
}
.jright .content .rightMain .information span.ltime {
  color: #A5A5A5;
  font-size: 14px;
  margin-left: 3px;
  margin-top: 2px;
}
.jright .content .rightMain .information span.changepass {
  color: #A5A5A5;
  font-size: 14px;
  margin-left: 100px;
}
.jright .content .rightMain .information span.changepass a {
  color: #EF504C;
  text-decoration: underline;
}
.jright .content .rightMain .Binding {
  width: 100%;
  float: left;
  margin-top: 5px;
}
.jright .content .rightMain .Binding dl {
  width: 918px;
  float: left;
  border: 1px solid #EEEEEE;
  border-radius: 3px;
  margin-top: 20px;
  height: 83px;
  background: #f9f9f9;
}
.jright .content .rightMain .Binding dl dt {
  float: left;
  width: 200px;
  height: 83px;
  line-height: 83px;
}
.jright .content .rightMain .Binding dl dt i.email {
  background-position: 0px 0px;
}
.jright .content .rightMain .Binding dl dt span {
  float: left;
  font-weight: bold;
  color: #2F2F2F;
  margin-left: 50px;
  width: 88px;
  font-size: 18px;
}
.jright .content .rightMain .Binding dl dd {
  float: left;
  height: 83px;
  line-height: 83px;
  font-size: 14px;
}
.jright .content .rightMain .Binding dl dd.binfo {
  float: left;
  color: #838383;
  margin-left: 68px;
  width: 450px;
}
.jright .content .rightMain .Binding dl dd.bindtype {
  float: left;
  width: 198px;
}
.jright .content .rightMain .Binding dl dd.bindtype a {
  color: #EF504C;
  font-size: 16px;
  font-weight: bold;
  margin-right: 20px;
}
.jright .content .rightMain .jobInfo {
  width: 760px;
  float: left;
  padding: 0 40px;
  margin-top: 20px;
}
.jright .content .rightMain .jobInfo dl {
  width: 100%;
  float: left;
  margin-top: 20px;
  height: 37px;
}
.jright .content .rightMain .jobInfo dl dt {
  width: 110px;
  float: left;
  height: 37px;
  line-height: 37px;
  text-align: right;
  color: #666;
}
.jright .content .rightMain .jobInfo dl dt .caption {
  font-size: 15px;
  width: 90px;
  float: left;
}
.jright .content .rightMain .jobInfo dl dt .asterisk {
  color: #ff0000;
  width: 20px;
  font-size: 20px;
  float: left;
  margin-top: 4px;
  height: 30px;
}
.jright .content .rightMain .jobInfo dl dd {
  float: left;
  height: 37px;
  line-height: 37px;
  margin-left: 8px;
}
.jright .content .rightMain .jobInfo dl dd.errinfo {
  line-height: 32px;
  float: left;
  height: 32px;
  color: #EA6A00;
  display: block;
  font-size: 13px;
}
.jright .content .rightMain .jobInfo dl dd input {
  width: 246px;
  border: 1px solid #cfcfcf;
  height: 35px;
  border-radius: 2px;
  float: left;
  line-height: 35px;
  padding: 0 7px;
  outline: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  vertical-align: middle;
}
.jright .content .rightMain .jobInfo dl dd input.btn {
  height: 37px;
  line-height: 37px;
  border-radius: 3px;
  font-size: 16px;
  width: 124px;
  font-family: "微软雅黑";
}
.jright .content .rightMain .jobInfo dl dd input.subs {
  background-color: #da4e4d;
  color: #fefefe !important;
  padding: 0 30px !important;
  box-shadow: 0px 1px 2px #a4a6a6;
  cursor: pointer;
  border: none;
  float: left;
}
/*# sourceMappingURL=accountSettings.css.map */