.jobInfo {
  width: 1200px;
  height: auto;
  overflow: hidden;
  margin: 60px auto;
}
.jobInfo .info-left {
  width: 865px;
  height: 100%;
  float: left;
}
.jobInfo .info-left .left-top {
  width: 100%;
  height: 300px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  position: relative;
}
.jobInfo .info-left .left-top .content {
  width: 100%;
  height: 80px;
  position: relative;
}
.jobInfo .info-left .left-top .content .names {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}
.jobInfo .info-left .left-top .content .price {
  font-size: 16px;
  color: red;
  line-height: 40px;
  font-weight: bold;
}
.jobInfo .info-left .left-top .content .price i {
  padding-right: 5px;
  font-size: 20px;
  line-height: 40px;
  color: #F9AF2E;
}
.jobInfo .info-left .left-top .content .delivery {
  cursor: pointer;
  width: 120px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  background-color: #F0514E;
  border-radius: 3px;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
}
.jobInfo .info-left .left-top .details {
  width: 100%;
  height: 120px;
  padding: 10px;
  background-color: #efefef;
}
.jobInfo .info-left .left-top .details .address {
  width: 80%;
  height: 35px;
  float: left;
  line-height: 35px;
  font-size: 14px;
  color: #666;
}
.jobInfo .info-left .left-top .details .address i {
  font-size: 18px;
  color: #F0514E;
  padding-right: 10px;
}
.jobInfo .info-left .left-top .details .address span {
  font-size: 14px;
  color: #000;
  padding-left: 10px;
}
.jobInfo .info-left .left-top .details .map {
  width: 20%;
  height: 30px;
  float: left;
  line-height: 30px;
  font-size: 14px;
  color: #666;
  cursor: pointer;
}
.jobInfo .info-left .left-top .details .map i {
  display: inline-block;
  float: left;
  font-size: 18px;
  color: #4187BA;
  padding-right: 10px;
}
.jobInfo .info-left .left-top .details .map span {
  line-height: 30px;
}
.jobInfo .info-left .left-top .details .infos {
  width: 33.33%;
  height: 32px;
  float: left;
  line-height: 32px;
  font-size: 14px;
  color: #666;
}
.jobInfo .info-left .left-top .details .infos i {
  font-size: 18px;
  color: #F0514E;
  padding-right: 10px;
}
.jobInfo .info-left .left-top .details .infos span {
  font-size: 14px;
  color: #000;
  padding-left: 10px;
}
.jobInfo .info-left .left-top .welfare {
  width: 100%;
  height: 50px;
}
.jobInfo .info-left .left-top .welfare span {
  font-size: 13px;
  color: #999;
  margin-top: 10px;
  padding: 3px 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  float: left;
  margin-left: 10px;
  border-radius: 3px;
}
.jobInfo .info-left .left-top .date {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  color: #666;
}
.jobInfo .info-left .left-top .favorites {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 100px;
  display: inline-block;
  font-size: 14px;
  color: #666;
  background-color: #efefef;
  border-radius: 3px;
  padding: 5px 10px;
}
.jobInfo .info-left .left-top .favorites.cur {
  background-color: #F0514E;
  color: #fff;
}
.jobInfo .info-left .left-top .share {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: inline-block;
  font-size: 14px;
  color: #666;
  background-color: #efefef;
  border-radius: 3px;
  padding: 5px 10px;
}
.jobInfo .info-left .left-center {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  position: relative;
}
.jobInfo .info-left .left-center .title {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-weight: bold;
  color: #666;
  text-indent: 20px;
  margin-top: 25px;
  position: relative;
}
.jobInfo .info-left .left-center .title:after {
  content: '';
  width: 5px;
  height: 20px;
  background-color: #F0514E;
  position: absolute;
  top: 15px;
  left: 5px;
}
.jobInfo .info-left .left-center .content {
  width: 100%;
  height: 120px;
  padding: 20px;
  border: 1px dashed rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  overflow: hidden;
}
.jobInfo .info-left .left-center .content .img {
  float: left;
  width: 80px;
  height: 80px;
}
.jobInfo .info-left .left-center .content .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.jobInfo .info-left .left-center .content .name {
  margin-left: 30px;
  float: left;
  width: 300px;
  height: 80px;
}
.jobInfo .info-left .left-center .content .name span {
  font-size: 14px;
  color: #666;
  text-align: left;
}
.jobInfo .info-left .left-center .content .name span:first-of-type {
  display: inline-block;
  width: 100%;
  line-height: 20px;
  padding-top: 15px;
}
.jobInfo .info-left .left-center .content .name span:nth-of-type(2) {
  display: inline-block;
  width: 80%;
  line-height: 20px;
  font-weight: bold;
  padding-top: 10px;
  color: #F0514E;
}
.jobInfo .info-left .left-center .content .name span:nth-of-type(3) {
  display: inline-block;
  color: #4187BA;
}
.jobInfo .info-left .left-center .content .reply {
  margin-left: 30px;
  float: left;
  width: 150px;
  height: 80px;
  position: relative;
}
.jobInfo .info-left .left-center .content .reply:after {
  content: '';
  width: 1px;
  height: 50px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 15px;
  right: -15px;
}
.jobInfo .info-left .left-center .content .reply span {
  font-size: 14px;
  color: #666;
  text-align: center;
}
.jobInfo .info-left .left-center .content .reply span:first-of-type {
  display: inline-block;
  width: 100%;
  line-height: 20px;
  padding-top: 15px;
  color: #F0514E;
  font-weight: bold;
}
.jobInfo .info-left .left-center .content .reply span:nth-of-type(2) {
  display: inline-block;
  width: 100%;
  line-height: 20px;
  font-size: 13px;
  padding-top: 10px;
}
.jobInfo .info-left .left-center .content .reply span:nth-of-type(2) i {
  padding-left: 5px;
}
.jobInfo .info-left .left-center .content .last {
  margin-left: 30px;
  float: left;
  width: 150px;
  height: 80px;
  position: relative;
}
.jobInfo .info-left .left-center .content .last span {
  font-size: 14px;
  color: #666;
  text-align: center;
}
.jobInfo .info-left .left-center .content .last span:first-of-type {
  display: inline-block;
  width: 100%;
  line-height: 20px;
  padding-top: 15px;
  color: #F0514E;
  font-weight: bold;
}
.jobInfo .info-left .left-center .content .last span:nth-of-type(2) {
  display: inline-block;
  width: 100%;
  line-height: 20px;
  font-size: 13px;
  padding-top: 10px;
}
.jobInfo .info-left .left-center .content .last span:nth-of-type(2) i {
  padding-left: 5px;
}
.jobInfo .info-left .left-center .desc {
  font-size: 14px;
  color: #666;
  line-height: 30px;
}
.jobInfo .info-left .left-bottom {
  width: 100%;
  height: auto;
}
.jobInfo .info-left .left-bottom .title {
  width: 100%;
  height: 40px;
  font-size: 14px;
  color: #000;
  text-align: left;
  line-height: 40px;
  text-indent: 20px;
  background-color: #efefef;
}
.jobInfo .info-left .left-bottom .list {
  width: 100%;
}
.jobInfo .info-left .left-bottom .list ul {
  overflow: hidden;
}
.jobInfo .info-left .left-bottom .list ul li {
  overflow: hidden;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.jobInfo .info-left .left-bottom .list ul li .infos {
  width: 33.333%;
  height: 35px;
  line-height: 35px;
  float: left;
  font-size: 14px;
  color: #999;
}
.jobInfo .info-left .left-bottom .list ul li .name {
  font-size: 15px;
  color: #4187BA;
}
.jobInfo .info-left .left-bottom .list ul li .price {
  font-size: 15px;
  color: red;
}
.jobInfo .info-left .left-bottom .list ul li .company {
  font-size: 15px;
  color: #666;
}
.jobInfo .info-left .left-bottom .list ul li .tips {
  width: 100%;
  height: 30px;
  float: left;
}
.jobInfo .info-left .left-bottom .list ul li .tips span {
  padding: 2px 5px;
  font-size: 13px;
  float: left;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 3.5px 20px 3.5px 0;
  color: #999;
}
.jobInfo .info-right {
  width: 300px;
  height: 100%;
  float: left;
  margin-left: 35px;
}
.jobInfo .info-right .right-top {
  width: 100%;
  height: 430px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.jobInfo .info-right .right-top .company {
  width: 100%;
  height: 100px;
}
.jobInfo .info-right .right-top .company img {
  display: inline-block;
  float: left;
  width: 80px;
  height: 80px;
  margin: 10px 0;
}
.jobInfo .info-right .right-top .company span {
  display: inline-block;
  width: calc(100% - 100px);
  margin-left: 20px;
  font-size: 14px;
  color: #999;
  float: left;
}
.jobInfo .info-right .right-top .company span:nth-of-type(1) {
  padding-top: 20px;
}
.jobInfo .info-right .right-top .company span:nth-of-type(2) {
  padding-top: 10px;
}
.jobInfo .info-right .right-top .company span b {
  display: inline-block;
  width: 80%;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  color: #4187BA;
}
.jobInfo .info-right .right-top .company span i {
  font-size: 18px;
  color: #79C338;
}
.jobInfo .info-right .right-top .content {
  width: 100%;
  height: auto;
  overflow: hidden;
  font-size: 14px;
  color: #666;
  line-height: 25px;
  margin: 15px 0;
}
.jobInfo .info-right .right-top .tips {
  width: 100%;
  height: 90px;
  font-size: 14px;
  color: #666;
}
.jobInfo .info-right .right-top .tips ul li {
  line-height: 30px;
  text-align: left;
}
.jobInfo .info-right .right-top .tips ul li span {
  color: #999;
  padding-right: 20px;
}
.jobInfo .info-right .right-bottom {
  width: 100%;
  height: auto;
  margin: 30px 0;
  overflow: hidden;
}
.jobInfo .info-right .right-bottom .title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #000;
  text-indent: 10px;
  background-color: #efefef;
}
.jobInfo .info-right .right-bottom .content {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.jobInfo .info-right .right-bottom .content ul li {
  width: 100%;
  height: 90px;
  padding: 20px 10px;
  float: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.jobInfo .info-right .right-bottom .content ul li:last-of-type {
  border-bottom: 0;
}
.jobInfo .info-right .right-bottom .content ul li img {
  width: 50px;
  height: 50px;
  float: left;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.jobInfo .info-right .right-bottom .content ul li span {
  display: inline-block;
  margin-left: 10px;
  width: calc(100% - 60px);
  height: 25px;
  font-size: 14px;
  color: #666;
  line-height: 25px;
}
.jobInfo .info-right .right-bottom .content ul li span:nth-of-type(2) {
  font-size: 12px;
  color: #999;
}
.jobInfo .info-right .right-bottom .content .more {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding-right: 20px;
  font-size: 14px;
  text-align: right;
  color: #666;
  background-color: #efefef;
}
/*# sourceMappingURL=jobInfo.css.map */