<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的简历</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_2180701_641vovyc8f.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/creatResume.css">
</head>
<body>

<header>
    <div class="header">
        <div class="left"><span>人才招聘</span></div>
        <div class="right">
            <ul>
                <li>首页</li>
                <li>找工作</li>
                <li class="cur">找人才</li>
                <li>社区</li>
                <li>会员登录</li>
                <li class="search">
                    <span><input type="text" placeholder="普工、销售、客服"></span>
                    <i class="iconfont icon-search1"></i>
                </li>
            </ul>
        </div>
    </div>
</header>

<div class="nav-img"><img src="./images/img4.png" alt=""></div>

<div class="creatResume" id="creatResume" v-cloak>
    <div class="left">
        <ul>
            <li>账号中心</li>
            <li class="cur">中文简历</li>
            <li>简历管理</li>
            <li>隐私设置</li>
            <li>账号设置</li>
        </ul>
        <ul>
            <li>面试通知</li>
            <li>谁浏览了我</li>
            <li>简历投递记录</li>
            <li>职位收藏夹</li>
            <li>浏览记录</li>
        </ul>
    </div>
    <div class="right">
        <div class="rightMain" style="display: none">
            <div class="title">创建我的简历</div>
            <div class="jobInfo">
                <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                    <el-form-item label="姓名" prop="name">
                        <el-col :span="8">
                            <el-input v-model="ruleForm.name" placeholder="请输入姓名"></el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="性别">
                        <el-radio-group v-model="ruleForm.sex">
                            <el-radio :label="0">男</el-radio>
                            <el-radio :label="1">女</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="出生年月" required>
                        <el-col :span="8">
                            <el-date-picker type="date" placeholder="选择日期" v-model="ruleForm.birthday"
                                            style="width: 100%;"></el-date-picker>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="最高学历" required>
                        <el-col :span="8">
                            <el-select v-model="ruleForm.educ" placeholder="请选择学历">
                                <el-option label="初中" value="0"></el-option>
                                <el-option label="高中" value="1"></el-option>
                                <el-option label="中专" value="2"></el-option>
                                <el-option label="大专" value="3"></el-option>
                                <el-option label="本科" value="4"></el-option>
                                <el-option label="硕士" value="5"></el-option>
                                <el-option label="博士" value="6"></el-option>
                            </el-select>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="工作经验">
                        <el-col :span="8">
                            <el-select v-model="ruleForm.educ" placeholder="请选择工作经验">
                                <el-option label="在校学生" value="0"></el-option>
                                <el-option label="应届毕业生" value="1"></el-option>
                                <el-option label="1年以上" value="2"></el-option>
                                <el-option label="2年以上" value="3"></el-option>
                                <el-option label="3年以上" value="4"></el-option>
                                <el-option label="4年以上" value="5"></el-option>
                                <el-option label="5年以上" value="6"></el-option>
                                <el-option label="6年以上" value="7"></el-option>
                                <el-option label="7年以上" value="8"></el-option>
                                <el-option label="8年以上" value="9"></el-option>
                                <el-option label="9年以上" value="10"></el-option>
                                <el-option label="10年以上" value="11"></el-option>
                            </el-select>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="手机号" prop="phoneNum">
                        <el-col :span="8">
                            <el-input v-model="ruleForm.phoneNum" placeholder="请输入手机号"></el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="电子邮箱" prop="email">
                        <el-col :span="8">
                            <el-input v-model="ruleForm.email" placeholder="请输入电子邮箱"></el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="QQ号码">
                        <el-col :span="8">
                            <el-input v-model="ruleForm.qq" placeholder="请输入QQ号码"></el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="求职状态" required>
                        <el-col :span="8">
                            <el-select v-model="ruleForm.status" placeholder="请选择求职状态">
                                <el-option label="不在职，正在找工作" value="0"></el-option>
                                <el-option label="在职，打算近期换工作" value="1"></el-option>
                                <el-option label="在职，有更好的机会再考虑" value="2"></el-option>
                                <el-option label="不考虑换工作" value="3"></el-option>
                            </el-select>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="现居地" required>
                        <el-col :span="8">
                            <el-cascader v-model="ruleForm.areaValue" :options="area"
                                         @change="handleChange"></el-cascader>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="详细地址">
                        <el-col :span="8">
                            <el-input v-model="ruleForm.address" placeholder="请输入详细地址"></el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="工作岗位" required>
                        <el-col :span="8">
                            <el-cascader
                                    placeholder="请选择工作岗位"
                                    :options="options"
                                    v-model="ruleForm.job"
                                    :props="{ multiple: true }"
                                    collapse-tags
                                    :show-all-levels="false">
                            </el-cascader>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="工作地区" required>
                        <el-col :span="8">
                            <el-cascader v-model="ruleForm.workAddress" :props="{ multiple: true ,emitPath: false}"
                                         :options="area" @change="handleChange" collapse-tags :show-all-levels="false"
                                         clearable></el-cascader>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="户籍">
                        <el-col :span="8">
                            <el-cascader v-model="ruleForm.domicile" :options="area"
                                         @change="handleChange"></el-cascader>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="婚姻状况">
                        <el-col :span="8">
                            <el-select v-model="ruleForm.marriage" placeholder="请选择婚姻状况">
                                <el-option label="未婚" value="0"></el-option>
                                <el-option label="已婚" value="1"></el-option>
                                <el-option label="离异" value="2"></el-option>
                                <el-option label="保密" value="3"></el-option>
                            </el-select>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="身高">
                        <el-col :span="8">
                            <el-input v-model="ruleForm.height" placeholder="请输入身高">
                                <template slot="append">cm</template>
                            </el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="意向岗位" required>
                        <el-col :span="8">
                            <el-input v-model="ruleForm.intentional" placeholder="请输入意向岗位"></el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="期望薪资">
                        <el-col :span="8">
                            <el-select v-model="ruleForm.price" placeholder="请选择期望薪资">
                                <el-option label="面议" value="0"></el-option>
                                <el-option label="1000" value="1"></el-option>
                                <el-option label="1500" value="2"></el-option>
                                <el-option label="2000" value="3"></el-option>
                                <el-option label="2500" value="4"></el-option>
                                <el-option label="3000" value="5"></el-option>
                                <el-option label="3500" value="6"></el-option>
                                <el-option label="4000" value="7"></el-option>
                                <el-option label="4500" value="8"></el-option>
                                <el-option label="5000" value="9"></el-option>
                                <el-option label="6000" value="10"></el-option>
                                <el-option label="7000" value="11"></el-option>
                                <el-option label="8000" value="12"></el-option>
                                <el-option label="9000" value="13"></el-option>
                                <el-option label="1万" value="14"></el-option>
                                <el-option label="1.5万" value="15"></el-option>
                                <el-option label="2万" value="16"></el-option>
                                <el-option label="3万" value="17"></el-option>
                                <el-option label="4万" value="18"></el-option>
                                <el-option label="5万" value="19"></el-option>
                                <el-option label="10万" value="20"></el-option>
                                <el-option label="50万" value="21"></el-option>
                                <el-option label="100万" value="22"></el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="8"><span class="price">元/月</span></el-col>
                    </el-form-item>
                    <el-form-item label="自我评价">
                        <el-col :span="14">
                            <el-input type="textarea" v-model="ruleForm.eval" :rows="3"
                                      placeholder="请输入自我评价"></el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="简历名称">
                        <el-col :span="8">
                            <el-input v-model="ruleForm.nickName" placeholder="请输入简历名称"></el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('ruleForm')">保存</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
        <div class="personInfo">
            <div class="mainCon">
                <div class="basicInfoCon">
                    <div class="bLfet"></div>
                    <div class="bRight">
                        <div class="basicName">
                            <div class="resumeTit">
                                <h2>123</h2>
                                <span class="resumeEdit"><a><i></i>编辑</a></span>
                            </div>
                        </div>
                        <div class="bInfo">
                            <ul>
                                <li><i class="sex_f"></i><span class="sexs">男</span></li>
                                <li><i class="age"></i><span class="birthday">24</span>岁</li>
                                <li><i class="work"></i><span class="work_year">1年以上</span></li>
                                <li><i class="map"></i><span class="homeaddress">湖北省,随州市,曾都区</span></li>
                            </ul>
                            <dl>
                                <dt>求职状态：</dt>
                                <dd><span class="jobStatus">在职，打算近期换工作</span></dd>
                                <dt>最高学历：</dt>
                                <dd><span class="education">高中</span></dd>
                            </dl>
                            <dl class="suppl">
                                <dt>婚育状况：</dt>
                                <dd><span class="marital">未婚</span></dd>
                                <dt>户籍：</dt>
                                <dd><span class="census">未填写</span></dd>
                                <dt>身高：</dt>
                                <dd><span class="height">213cm</span></dd>
                            </dl>
                        </div>
                        <div class="contact">
                            <div class="info">
                                <i class="m"></i><strong class="mobile">15727051613</strong><em class="phoneAddr">（<span
                                    class="phoneAddress">湖北省</span>）</em>
                            </div>
                            <div class="bEmail">邮箱：<span class="email">qqqwqwqqwq@qq.com</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="resumeMange">
            <div class="resumeTit">
                <h2>求职意向</h2>
                <span class="resumeEdit" @click="edit('ruleForm1',0,0)"><a><i></i>编辑</a></span>
            </div>
            <div v-if="!dialogOpen[0].checked" class="objectiveCon">
                <dl>
                    <dt>意向岗位:</dt>
                    <dd><span class="intentionjobs">{{ruleForm1.list[0].name}}</span></dd>
                </dl>
                <dl>
                    <dt>职位类别:</dt>
                    <dd><span class="jobsort">{{ruleForm1.list[0].job}}</span></dd>
                </dl>
                <dl>
                    <dt>期望月薪:</dt>
                    <dd><span class="expectedsalary">{{ruleForm1.list[0].price}}元/月</span></dd>
                </dl>
                <dl>
                    <dt>工作地点:</dt>
                    <dd><span class="jobarea">{{ruleForm1.list[0].workAddress}}</span></dd>
                </dl>
            </div>
            <div v-if="dialogOpen[0].checked" class="objectiveInput">
                <el-form :model="ruleForm1" :rules="rules1" ref="ruleForm1" label-width="100px" class="demo-ruleForm">
                    <el-form-item label="意向岗位" required>
                        <el-col :span="8">
                            <el-input v-model="ruleForm1.name" placeholder="请输入意向岗位"></el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="工作地区" required>
                        <el-col :span="8">
                            <el-cascader v-model="ruleForm1.workAddress" :props="{ multiple: true ,emitPath: false,checkStrictly: true}"
                                         :options="area" @change="handleChange" collapse-tags :show-all-levels="false"
                                         clearable></el-cascader>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="工作岗位" required>
                        <el-col :span="8">
                            <el-cascader
                                    placeholder="请选择工作岗位"
                                    :options="options"
                                    v-model="ruleForm1.job"
                                    :props="{ multiple: true,checkStrictly: true ,emitPath: false}"
                                    collapse-tags
                                    @change="handleChange"
                                    clearable
                                    :show-all-levels="false">
                            </el-cascader>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="期望薪资">
                        <el-col :span="8">
                            <el-select v-model="ruleForm1.price" placeholder="请选择期望薪资">
                                <el-option label="面议" value="0"></el-option>
                                <el-option label="1000" value="1"></el-option>
                                <el-option label="1500" value="2"></el-option>
                                <el-option label="2000" value="3"></el-option>
                                <el-option label="2500" value="4"></el-option>
                                <el-option label="3000" value="5"></el-option>
                                <el-option label="3500" value="6"></el-option>
                                <el-option label="4000" value="7"></el-option>
                                <el-option label="4500" value="8"></el-option>
                                <el-option label="5000" value="9"></el-option>
                                <el-option label="6000" value="10"></el-option>
                                <el-option label="7000" value="11"></el-option>
                                <el-option label="8000" value="12"></el-option>
                                <el-option label="9000" value="13"></el-option>
                                <el-option label="1万" value="14"></el-option>
                                <el-option label="1.5万" value="15"></el-option>
                                <el-option label="2万" value="16"></el-option>
                                <el-option label="3万" value="17"></el-option>
                                <el-option label="4万" value="18"></el-option>
                                <el-option label="5万" value="19"></el-option>
                                <el-option label="10万" value="20"></el-option>
                                <el-option label="50万" value="21"></el-option>
                                <el-option label="100万" value="22"></el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="8"><span class="price">元/月</span></el-col>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('ruleForm1')">保存</el-button>
                        <el-button @click="resetForm('ruleForm1',0)">重置</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
        <div class="resumeMange">
            <div class="resumeTit">
                <h2>自我评价</h2>
                <span class="resumeEdit" @click="edit('ruleForm2',0,1)"><a><i></i>编辑</a></span>
            </div>
            <div v-if="!dialogOpen[1].checked" class="resumeMangeCon selfEvaluationCon">
                <div class="listCon">
                    <div class="listLeft"><span class="listTime">自我评价</span></div>
                    <div class="listCenter">
                        <div class="info" style="padding-top: 0px;">
                            <div class="con" style="margin-top: 0px;font-size: 14px">{{ruleForm2.list[0].eval}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="dialogOpen[1].checked" class="resumeMangeInput">
                <el-form :model="ruleForm2" ref="ruleForm2" label-width="100px" class="demo-ruleForm">
                    <el-form-item label="自我评价" prop="name">
                        <el-col :span="16">
                            <el-input
                                    type="textarea"
                                    :rows="3"
                                    placeholder="请输入自我评价"
                                    v-model="ruleForm2.eval">
                            </el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('ruleForm2')">保存</el-button>
                        <el-button @click="resetForm('ruleForm2',1)">重置</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
        <div class="resumeMange">
            <div class="resumeTit">
                <h2>工作经历</h2>
                <span class="resumeEdit" @click="openDialog(2)"><a><i></i>添加</a></span>
            </div>
            <div v-if="dialogOpen[2].checked" class="resumeMangeInput">
                <el-form :model="ruleForm3" ref="ruleForm3" label-width="100px" class="demo-ruleForm">
                    <el-form-item label="公司名称" required>
                        <el-col :span="8">
                            <el-input v-model="ruleForm3.name" placeholder="请输入公司名称"></el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="公司性质" required>
                        <el-col :span="8">
                            <el-select v-model="ruleForm3.nature" placeholder="请选择公司性质">
                                <el-option label="国有企业" value="0"></el-option>
                                <el-option label="外资企业" value="1"></el-option>
                                <el-option label="合资企业" value="2"></el-option>
                                <el-option label="私营企业" value="3"></el-option>
                                <el-option label="民营企业" value="4"></el-option>
                                <el-option label="股份制企业" value="5"></el-option>
                                <el-option label="集体企业" value="6"></el-option>
                                <el-option label="集体事业" value="7"></el-option>
                                <el-option label="乡镇企业" value="8"></el-option>
                                <el-option label="行政机关" value="9"></el-option>
                                <el-option label="社会团体" value="10"></el-option>
                                <el-option label="事业单位" value="11"></el-option>
                                <el-option label="跨国公司（集团）" value="12"></el-option>
                                <el-option label="上市公司" value="13"></el-option>
                                <el-option label="其他" value="14"></el-option>
                            </el-select>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="企业规模" required>
                        <el-col :span="8">
                            <el-select v-model="ruleForm3.person" placeholder="请选择企业规模">
                                <el-option label="少于50人" value="0"></el-option>
                                <el-option label="50-200人" value="1"></el-option>
                                <el-option label="200-500人" value="2"></el-option>
                                <el-option label="500-1000人" value="3"></el-option>
                                <el-option label="1000人以上" value="4"></el-option>
                            </el-select>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="所属行业">
                        <el-col :span="8">
                            <el-select v-model="ruleForm3.industry" placeholder="请选择所属行业">
                                <el-option label="互联网、电子商务" value="0"></el-option>
                                <el-option label="计算机业（软件、数据库、系统集成）" value="1"></el-option>
                                <el-option label="计算机业（硬件、网络设备）" value="2"></el-option>
                                <el-option label="电子、微电子技术" value="3"></el-option>
                                <el-option label="通讯、电信网络设备业" value="4"></el-option>
                                <el-option label="家具、家电、工艺品、玩具" value="5"></el-option>
                                <el-option label="批发零售(百货、超市、购物中心、专卖店…" value="6"></el-option>
                                <el-option label="贸易、商务、进出口" value="7"></el-option>
                                <el-option label="电气" value="8"></el-option>
                                <el-option label="电力、能源、矿产业" value="9"></el-option>
                                <el-option label="石油、化工业" value="10"></el-option>
                                <el-option label="生物工程、制药、环保" value="11"></el-option>
                                <el-option label="机械制造、机电设备、重工业" value="12"></el-option>
                                <el-option label="汽车、摩托车及配件业" value="13"></el-option>
                                <el-option label="仪器仪表、电工设备" value="14"></el-option>
                                <el-option label="广告、公关、设计" value="15"></el-option>
                                <el-option label="艺术、文化传播" value="16"></el-option>
                                <el-option label="快速消费品（食品、饮料、粮油、化妆品、烟）" value="17"></el-option>
                                <el-option label="纺织品业（服饰、鞋类、家纺用品、皮具…）" value="18"></el-option>
                                <el-option label="咨询业（顾问、会计师、审计师、法律）" value="19"></el-option>
                                <el-option label="金融业（投资、保险、证券、银行、基金）" value="20"></el-option>
                                <el-option label="建筑、装潢" value="21"></el-option>
                                <el-option label="运输、物流、快递" value="22"></el-option>
                                <el-option label="旅游业、酒店" value="23"></el-option>
                                <el-option label="办公设备、文化体育休闲用品" value="24"></el-option>
                                <el-option label="印刷、包装、造纸" value="25"></el-option>
                                <el-option label="生产、制造、修饰加工" value="26"></el-option>
                                <el-option label="教育、培训、科研院所" value="27"></el-option>
                                <el-option label="医疗、美容保健、卫生服务" value="28"></el-option>
                                <el-option label="人才交流、中介" value="29"></el-option>
                                <el-option label="协会、社团" value="30"></el-option>
                                <el-option label="农、林、牧、副、渔业" value="31"></el-option>
                                <el-option label="法律" value="22"></el-option>
                                <el-option label="通信、电信运营、增值服务业" value="32"></el-option>
                                <el-option label="媒体、影视制作、新闻出版" value="33"></el-option>
                                <el-option label="房地产、物业管理" value="34"></el-option>
                                <el-option label="餐饮、娱乐" value="35"></el-option>
                                <el-option label="政府公用事业、社区服务" value="36"></el-option>
                                <el-option label="其他" value="37"></el-option>
                            </el-select>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="在职时间" required>
                        <el-col :span="8">
                            <el-date-picker
                                    v-model="ruleForm3.date"
                                    type="monthrange"
                                    value-format="yyyy-MM"
                                    @change="changeV"
                                    range-separator="至"
                                    start-placeholder="开始月份"
                                    end-placeholder="结束月份">
                            </el-date-picker>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="职位名称" required>
                        <el-col :span="8">
                            <el-input v-model="ruleForm3.occName" placeholder="请输入职位名称"></el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="工作描述" required>
                        <el-col :span="14">
                            <el-input v-model="ruleForm3.contact" placeholder="请输入工作描述" type="textarea" :rows="3"></el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('ruleForm3')">保存</el-button>
                        <el-button @click="resetForm('ruleForm3',2)">重置</el-button>
                    </el-form-item>
                </el-form>
            </div>
            <div class="workerCon">
                <div class="listCon" v-for="(item,index) in ruleForm3.list">
                    <div class="listLeft"><span class="listTime"><span class="starttime">{{item.date[0]}}</span>~<span
                            class="endtime">{{item.date[1]}}</span></span></div>
                    <div class="listCenter">
                        <div class="tit">
                            <strong class="post">{{item.name}}</strong><b>|</b><span class="company">{{item.occName}}</span>
                        </div>
                        <div class="info">
                            <ul>
                                <li class="comkind">民营企业</li>
                                <b>-</b>
                                <li class="scale">50-200人</li>
                                <b>-</b>
                                <li class="industry">计算机业（软件、数据库、系统集成）</li>
                            </ul>
                            <div class="con">{{item.contact}}</div>
                        </div>
                    </div>
                    <div class="listRight">
                        <span class="edit">
                            <input value="编辑" type="button" @click="edit('ruleForm3',index,2)">
                        </span>
                        <span class="del"><input value="删除" type="button" @click="del('ruleForm3',index)"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="resumeMange">
            <div class="resumeTit">
                <h2>教育培训经历</h2>
                <span class="resumeEdit" @click="openDialog(3)"><a><i></i>添加</a></span>
            </div>
            <div v-if="dialogOpen[3].checked" class="resumeMangeInput">
                <el-form :model="ruleForm4" ref="ruleForm4" label-width="100px" class="demo-ruleForm">
                    <el-form-item label="教育类型" required>
                        <el-col :span="8">
                            <el-radio-group v-model="ruleForm4.resource">
                                <el-radio :label="0">学历教育</el-radio>
                                <el-radio :label="1">技能培训</el-radio>
                            </el-radio-group>
                        </el-col>
                    </el-form-item>
                    <el-form-item :label="ruleForm4.resource === 0 ? '学校名称' : '培训机构'" required>
                        <el-col :span="8">
                            <el-input v-model="ruleForm4.name" :placeholder="ruleForm4.resource === 0 ? '请输入学校名称' : '请输入培训机构'"></el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="就读时间" required>
                        <el-col :span="8">
                            <el-date-picker
                                    v-model="ruleForm4.date"
                                    type="monthrange"
                                    value-format="yyyy-MM"
                                    range-separator="至"
                                    start-placeholder="开始月份"
                                    end-placeholder="结束月份">
                            </el-date-picker>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="学历" required v-if="ruleForm4.resource === 0">
                        <el-col :span="8">
                            <el-select v-model="ruleForm4.educ" placeholder="请选择学历">
                                <el-option label="初中" value="0"></el-option>
                                <el-option label="高中" value="1"></el-option>
                                <el-option label="中专" value="2"></el-option>
                                <el-option label="大专" value="3"></el-option>
                                <el-option label="本科" value="4"></el-option>
                                <el-option label="硕士" value="5"></el-option>
                                <el-option label="博士" value="6"></el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="8" style="padding-left: 10px">
                            <el-checkbox v-model="ruleForm4.checked">是否统招</el-checkbox>
                        </el-col>
                    </el-form-item>
                    <el-form-item :label="ruleForm4.resource === 0 ? '专业名称' : '培训项目'" required>
                        <el-col :span="8">
                            <el-input v-model="ruleForm4.disc" :placeholder="ruleForm4.resource === 0 ? '请输入专业名称' : '请输入培训项目'"></el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="描述" required>
                        <el-col :span="14">
                            <el-input v-model="ruleForm4.desc" placeholder="请输入描述" type="textarea" :rows="3"></el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('ruleForm4')">保存</el-button>
                        <el-button @click="resetForm('ruleForm4',3)">重置</el-button>
                    </el-form-item>
                </el-form>
            </div>
            <div v-if="!dialogOpen[3].checked" class="educationCon">
                <div class="listCon" v-for="(item,index) in ruleForm4.list">
                    <div class="listLeft">
                        <span class="listTime">
                            <span class="starttime">{{item.date[0]}}</span>~<span class="endtime">{{item.date[1]}}</span>
                        </span>
                    </div>
                    <div class="listCenter">
                        <div class="tit">
                            <strong class="education" v-if="item.resource == 0">{{item.educ}}</strong>
                            <strong class="education" v-if="item.resource == 1">{{item.disc}}</strong>
                            <b>|</b>
                            <span class="school">{{item.name}}</span>
                        </div>
                        <div class="info">
                            <span class="speciality" v-if="item.resource == 0">{{item.disc}}</span>
                            <div class="con">{{item.desc}}</div>
                        </div>
                    </div>
                    <div class="listRight">
                        <span class="edit"><input @click="edit('ruleForm4',index,3)" value="编辑" type="button"></span>
                        <span class="del"><input @click="del('ruleForm4',index)" value="删除" type="button"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="resumeMange">
            <div class="resumeTit">
                <h2>项目经验</h2>
                <span class="resumeEdit" @click="openDialog(4)"><a><i></i>添加</a></span>
            </div>
            <div v-if="dialogOpen[4].checked" class="resumeMangeInput">
                <el-form :model="ruleForm5" ref="ruleForm5" label-width="100px" class="demo-ruleForm">
                    <el-form-item label="项目名称" required>
                        <el-col :span="8">
                            <el-input v-model="ruleForm5.name" placeholder="请输入项目名称"></el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="项目时间" required>
                        <el-col :span="8">
                            <el-date-picker
                                    v-model="ruleForm5.date"
                                    type="monthrange"
                                    value-format="yyyy-MM"
                                    range-separator="至"
                                    start-placeholder="开始月份"
                                    end-placeholder="结束月份">
                            </el-date-picker>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="担任职务" required>
                        <el-col :span="8">
                            <el-input v-model="ruleForm5.disc" placeholder="请输入担任职务"></el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="描述" required>
                        <el-col :span="14">
                            <el-input v-model="ruleForm5.desc" placeholder="请输入描述" type="textarea" :rows="3"></el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('ruleForm5')">保存</el-button>
                        <el-button @click="resetForm('ruleForm5',4)">重置</el-button>
                    </el-form-item>
                </el-form>
            </div>
            <div v-if="!dialogOpen[4].checked" class="educationCon">
                <div class="listCon" v-for="(item,index) in ruleForm5.list">
                    <div class="listLeft">
                        <span class="listTime">
                            <span class="starttime">{{item.date[0]}}</span>~<span class="endtime">{{item.date[1]}}</span>
                        </span>
                    </div>
                    <div class="listCenter">
                        <div class="tit">
                            <strong class="education">{{item.name}}</strong>
                            <b>|</b>
                            <span class="school">{{item.disc}}</span>
                        </div>
                        <div class="info">
                            <div class="con">{{item.desc}}</div>
                        </div>
                    </div>
                    <div class="listRight">
                        <span class="edit"><input @click="edit('ruleForm5',index,4)" value="编辑" type="button"></span>
                        <span class="del"><input @click="del('ruleForm5',index)" value="删除" type="button"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="resumeMange">
            <div class="resumeTit">
                <h2>语言能力</h2>
                <span class="resumeEdit" @click="openDialog(5)"><a><i></i>添加</a></span>
            </div>
            <div v-if="!dialogOpen[5].checked" class="languageCon">
                <div class="listItem">
                    <ul>
                        <li>
                            <strong class="name">朝鲜语</strong>
                            <em>|</em>
                            <span class="degree">
                                <span class="level">精通</span>
                            </span>
                        </li>
                        <li>
                            <strong class="name">阿拉伯语</strong>
                            <em>|</em>
                            <span class="degree">
                                <span class="level">熟练</span>
                            </span>
                        </li>
                        <li>
                            <strong class="name">法语</strong>
                            <em>|</em>
                            <span class="degree">
                                <span class="level">熟练</span>
                            </span>
                        </li>
                        <li>
                            <strong class="name">日语</strong>
                            <em>|</em>
                            <span class="degree">
                                <span class="level">精通</span>
                            </span>
                        </li>
                        <li>
                            <strong class="name">英语</strong>
                            <em>|</em>
                            <span class="degree">
                                <span class="level">精通</span>
                            </span>
                        </li>
                        <li>
                            <strong class="name">意大利语</strong>
                            <em>|</em>
                            <span class="degree">
                                <span class="level">入门</span>
                            </span>
                        </li>
                        <li>
                            <strong class="name">德语</strong>
                            <em>|</em>
                            <span class="degree">
                                <span class="level">精通</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div v-if="dialogOpen[5].checked" class="resumeMangeInput">
                <div class="addAbility">添加您掌握的语言能力；最多可以添加6门语言</div>
                <div class="demo-ruleForm">
                        <div class="ruleFormClass" style="text-align: center" v-for="(n,l) in ruleForm6">
                            <el-col :span="10">
                                <el-select v-model="ruleForm6[l].name" placeholder="请选择语种">
                                    <el-option :label="item.label" :value="item.value" v-for="item in language"></el-option>
                                </el-select>
                            </el-col>
                            <el-col :span="10">
                                <el-select v-model="ruleForm6[l].skill" placeholder="请选择熟练程度">
                                    <el-option :label="item.label" :value="item.value" v-for="item in skill"></el-option>
                                </el-select>
                            </el-col>
                            <el-col :span="4">
                                <i class="el-icon-delete del" @click="delList(0,l)"></i>
                            </el-col>
                        </div>
                    <div class="newList" @click="newList(0)"><i class="el-icon-circle-plus-outline"></i>添加一项</div>
                    <div style="text-align: center">
                        <el-col :span="24">
                            <el-button type="primary" @click="submitForm('ruleForm6')">保存</el-button>
                            <el-button @click="resetForm('ruleForm6',5)">重置</el-button>
                        </el-col>
                    </div>
                </div>
            </div>
        </div>
        <div class="resumeMange">
            <div class="resumeTit">
                <h2>技能专长</h2>
                <span class="resumeEdit" @click="openDialog(6)"><a><i></i>添加</a></span>
            </div>
            <div v-if="!dialogOpen[6].checked" class="languageCon">
                <div class="listItem">
                    <ul>
                        <li>
                            <strong class="name">朝鲜语</strong>
                            <em>|</em>
                            <span class="degree">
                                <span class="level">精通</span>
                            </span>
                        </li>
                        <li>
                            <strong class="name">阿拉伯语</strong>
                            <em>|</em>
                            <span class="degree">
                                <span class="level">熟练</span>
                            </span>
                        </li>
                        <li>
                            <strong class="name">法语</strong>
                            <em>|</em>
                            <span class="degree">
                                <span class="level">熟练</span>
                            </span>
                        </li>
                        <li>
                            <strong class="name">日语</strong>
                            <em>|</em>
                            <span class="degree">
                                <span class="level">精通</span>
                            </span>
                        </li>
                        <li>
                            <strong class="name">英语</strong>
                            <em>|</em>
                            <span class="degree">
                                <span class="level">精通</span>
                            </span>
                        </li>
                        <li>
                            <strong class="name">意大利语</strong>
                            <em>|</em>
                            <span class="degree">
                                <span class="level">入门</span>
                            </span>
                        </li>
                        <li>
                            <strong class="name">德语</strong>
                            <em>|</em>
                            <span class="degree">
                                <span class="level">精通</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div v-if="dialogOpen[6].checked" class="resumeMangeInput">
                <div class="addAbility">添加您掌握的技能、工具或擅长的领域；最多可以添加10项技能专长</div>
                <div class="demo-ruleForm">
                    <div class="ruleFormClass" style="text-align: center" v-for="(n,l) in ruleForm7">
                        <el-col :span="10">
                            <el-input v-model="ruleForm7[l].name" placeholder="请输入技能名称"></el-input>
                        </el-col>
                        <el-col :span="10">
                            <el-select v-model="ruleForm7[l].skill" placeholder="请选择熟练程度">
                                <el-option :label="item.label" :value="item.value" v-for="item in skill"></el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="4">
                            <i class="el-icon-delete del" @click="delList(1,l)"></i>
                        </el-col>
                    </div>
                    <div class="newList" @click="newList(1)" style="margin-left: 0"><i class="el-icon-circle-plus-outline"></i>添加一项</div>
                    <div style="text-align: center">
                        <el-col :span="24">
                            <el-button type="primary" @click="submitForm('ruleForm6')">保存</el-button>
                            <el-button @click="resetForm('ruleForm6',6)">重置</el-button>
                        </el-col>
                    </div>
                </div>
            </div>
        </div>
        <div class="resumeMange">
            <div class="resumeTit">
                <h2>证书</h2>
                <span class="resumeEdit" @click="openDialog(7)"><a><i></i>添加</a></span>
            </div>
            <div v-if="!dialogOpen[7].checked" class="languageCon">
                <div class="listItem">
                    <ul>
                        <li>
                            <strong class="name">朝鲜语</strong>
                            <em>|</em>
                            <span class="degree">
                                <span class="level">精通</span>
                            </span>
                        </li>
                        <li>
                            <strong class="name">阿拉伯语</strong>
                            <em>|</em>
                            <span class="degree">
                                <span class="level">熟练</span>
                            </span>
                        </li>
                        <li>
                            <strong class="name">法语</strong>
                            <em>|</em>
                            <span class="degree">
                                <span class="level">熟练</span>
                            </span>
                        </li>
                        <li>
                            <strong class="name">日语</strong>
                            <em>|</em>
                            <span class="degree">
                                <span class="level">精通</span>
                            </span>
                        </li>
                        <li>
                            <strong class="name">英语</strong>
                            <em>|</em>
                            <span class="degree">
                                <span class="level">精通</span>
                            </span>
                        </li>
                        <li>
                            <strong class="name">意大利语</strong>
                            <em>|</em>
                            <span class="degree">
                                <span class="level">入门</span>
                            </span>
                        </li>
                        <li>
                            <strong class="name">德语</strong>
                            <em>|</em>
                            <span class="degree">
                                <span class="level">精通</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div v-if="dialogOpen[7].checked" class="resumeMangeInput">
                <div class="addAbility">添加您获得的专业技能、职业证书或职称；最多可以添加10份证书</div>
                <div class="demo-ruleForm">
                    <div class="ruleFormClass" style="text-align: center" v-for="(n,l) in ruleForm8">
                        <el-col :span="10">
                            <el-input v-model="ruleForm8[l].name" placeholder="请输入证书名称"></el-input>
                        </el-col>
                        <el-col :span="10">
                            <el-date-picker
                                    v-model="ruleForm8[l].date"
                                    type="year"
                                    value-format="yyyy"
                                    placeholder="选择年份">
                            </el-date-picker>
                        </el-col>
                        <el-col :span="4">
                            <i class="el-icon-delete del" @click="delList(2,l)"></i>
                        </el-col>
                    </div>
                    <div class="newList" @click="newList(2)" style="margin-left: 0"><i class="el-icon-circle-plus-outline"></i>添加一项</div>
                    <div style="text-align: center">
                        <el-col :span="24">
                            <el-button type="primary" @click="submitForm('ruleForm6')">保存</el-button>
                            <el-button @click="resetForm('ruleForm6',7)">重置</el-button>
                        </el-col>
                    </div>
                </div>
            </div>
        </div>
        <div class="resumeMange">
            <div class="resumeTit">
                <h2>其他信息</h2>
                <span class="resumeEdit" @click="openDialog(8)"><a><i></i>添加</a></span>
            </div>
            <div v-if="dialogOpen[8].checked" class="resumeMangeInput">
                <el-form :model="ruleForm9" ref="ruleForm9" label-width="100px" class="demo-ruleForm">
                    <el-form-item label="主题" required>
                        <el-col :span="8">
                            <el-select v-model="ruleForm9.theme" placeholder="请选择主题">
                                <el-option label="兴趣爱好" value="0"></el-option>
                                <el-option label="宗教信仰" value="1"></el-option>
                                <el-option label="职业目标" value="2"></el-option>
                                <el-option label="获奖荣誉" value="3"></el-option>
                                <el-option label="个性特长" value="4"></el-option>
                            </el-select>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="描述" required>
                        <el-col :span="14">
                            <el-input v-model="ruleForm9.desc" placeholder="请输入描述" type="textarea" :rows="3"></el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('ruleForm9')">保存</el-button>
                        <el-button @click="resetForm('ruleForm9',8)">重置</el-button>
                    </el-form-item>
                </el-form>
            </div>
            <div v-if="!dialogOpen[8].checked" class="otherCon">
                <div class="listCon" v-for="(item,index) in ruleForm9.list">
                    <div class="listLeft">
                        <span class="listTime otherTit">{{item.theme}}</span>
                    </div>
                    <div class="listCenter">
                        <div class="tit titOther" style="position: absolute; width: 0px;"></div>
                        <div class="info" style="padding:3px 37px 30px 25px;">
                            <p>{{item.desc}}</p>
                        </div>
                    </div>
                    <div class="listRight">
                        <span class="edit"><input @click="edit('ruleForm9',index,8)" value="编辑" type="button"></span>
                        <span class="del"><input @click="del('ruleForm9',index)" value="删除" type="button"></span>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="resumeMange">
            <div class="resumeTit">
                <h2>我的作品</h2>
                <span class="resumeEdit"><a><i></i>添加</a></span>
            </div>
        </div>-->
    </div>
</div>

<footer>
    <div class="top">
        <ul>
            <li>
                <i class="iconfont icon-mianfei"></i>
                <span>免费求职</span>
                <span>企业直招 不收取任何费用</span>
            </li>
            <li>
                <i class="iconfont icon-jingzhun"></i>
                <span>专业招聘</span>
                <span>专人服务 入职速度更快</span>
            </li>
            <li>
                <i class="iconfont icon-you"></i>
                <span>优质服务</span>
                <span>企业社区问答 免费信贷</span>
            </li>
            <li>
                <i class="iconfont icon-ren-huawuyuan"></i>
                <span>服务热线 : 000-000-0000</span>
                <span>求职QQ群：258506508</span>
            </li>
        </ul>
    </div>
    <div class="foot">
        <div class="bottom">
            <div class="left">
                <i class="iconfont icon-fuwurexian"></i>
                <span>服务热线</span>
                <span>000-000-00000</span>
                <span>工作日：9：00-19：00</span>
            </div>
            <div class="right">
                <ul>
                    <li>
                        <dl>
                            <dt><a href="#">网站首页</a></dt>
                            <dd><a href="#">销售/文员</a></dd>
                            <dd><a href="#">普工/技工</a></dd>
                            <dd><a href="#">普工/技工</a></dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><a href="#">找工作</a></dt>
                            <dd><a href="#">求职流程</a></dd>
                            <dd><a href="#">企业推荐</a></dd>
                            <dd><a href="#">前沿岗位</a></dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><a href="#">社区</a></dt>
                            <dd><a href="#">热门文章</a></dd>
                            <dd><a href="#">前沿资讯</a></dd>
                            <dd><a href="#">求职帮助</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="//unpkg.com/vue/dist/vue.js"></script>
<script src="//unpkg.com/element-ui@2.14.1/lib/index.js"></script>
<script src="./js/creatResume.js"></script>

</body>
</html>